<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign-language</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="label">
        <p id="left_label">original image </p>
        <p id="right_label">enhanced image </p> 
    </div>
    <div class="container">
        <div class ="row">
            <div class = "col-lg-8 offst-lg-2">
                <img src ="{{url_for('video_feed')}}" width="100%">
            </div>
        </div>
    </div>
</body>
</html>